*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto', sans-serif;
}

/*
     rem = [root em] / ou seja é uma unidade de medida relativa ao elemento root html que é a raiz do documento.
*/

html{
    font-size: 62.5%;
}

body > header{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #004aad;
}

body > header img{
    max-width: 15%;
    width: 15%;
}

body > header nav{
    margin: 0 5%;
}

body > header nav ul{
    display: flex;
    list-style: none;
    flex-direction: row;
    gap:20px;
}

body > header nav ul li a{
    display: flex;
    justify-content: center;
    align-items: center;
   
   
    width: 250px;
    height: 80px;
   
    background-color: #6c0f0f;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-size: 3.5rem;

    transition: background-color 0.3s ease-in-out;
   
}

body > header nav ul li a:hover{
    background-color: #6f2f2f;
    text-decoration: underline;

}
