footer{
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100vw;
    height: 20vh;

    font-size: 3rem;;
    background-color: #004aad;
    color: #fff
}

footer nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
    flex-direction: column;    
}

footer nav ul li a{
    text-decoration: none;
    color:#fff;
}
